@font-face {
  font-family: "BookAntiqua";
  src: url("book-antiqua.woff");
}
@font-face {
  font-family: "Copperplate";
  src: url("copperplate.woff");
}


body
{
	background-color: #000000;
	color: #501ae7;

	font-family: "BookAntiqua",Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

.mainbanner {
	text-align: center;
}


.maintext {
	margin: 20px;
/* 	border: 5px solid #4040ff; */
	padding: 1em;
	margin: 2em;

}

.mainbody {
	margin: 20px;
/* 	border: 5px solid #4040ff; */
	padding: 1em;
	margin: 2em;
	font-size: 14pt;
	border: 8px dotted #888888;

	background: rgba(0, 0, 100, 0.6);
	color: #ccef20;
}



.banner {
	text-align: center;
	font-size : x-large;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
	text-align: center;
}

p {
	font-size: 12pt;
}

a {
	color: #005cd0;
}


/*
 * *********
 * Menu CSS:
 * *********
 */

.topmenu .menu {
	float: left;
	padding: 0px;
	font-size: 14pt;
}
.topmenu .menu .top {
	border: 3px solid white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 18pt;
}
.dropdown {
	display: none;
	position: absolute;
	margin: 0px;
	background-color: #000060;
	border: 3px solid white;
	z-index: 1;
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 16pt;
}
.dropdown li {
	margin-left: 0px;
	font-weight: bold;
}
.dropdown li a {
	text-decoration: none;
}
.dropdown li a:hover {
	color: #ff8888;
}

.menu:hover .dropdown { display: block; }



/*
 * *************
 * Photobox CSS:
 * *************
 */

.photobox {
	border: 5px solid #707070;
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	min-height: 200px;
}

.photobox .prevphoto {
	float: left;
	width: 15%;
	border: 1px solid #40ff40;
	text-align: center;
}
.photobox .nextphoto {
	float: left;
	width: 15%;
	border: 1px solid #40ff40;
	text-align: center;
}
.photobox .mainphoto {
	float: left;
	width: 69%;
	border: 1px solid #40ff40;
	text-align: center;
	min-height: 200px;
}




/*
 * *******************
 * Banners, Tabs, etc:
 * *******************
 */

.lowerbanner {
	font-size: 32pt;
	text-align: center;
}

.tabgroup .tabheader {
	float: left;
	width: 49%;
	border: 2px solid white;
	background-color: #000060;
}

.container {
	padding: 1em;
}


.astroblock {
	float: left;
	width: 45%;
}

.moonsunblock {
	float: left;
	width: 33%;
	margin-left: 2em;
}


.tarotblock {
	float: left;
	width: 45%;
	border: 3px solid blue;
}
.spellblock {
	float: left;
	width: 45%;
	margin-left: 2em;
	border: 3px solid pink;
}

.box {
	border: 5px solid #aaaaaa;
}


/*
 * *******************
 * Footer stuff
 * *******************
 */

.footer {
	margin-top: 5em;
	font-size: small;
}
.footerlink {
	float: left;
	margin-left: 20%;
}
.credittext {
	margin-top: 2em;
	font-family: monospace;
	font-size: x-small;
	text-align: center;
}
